{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

    <body>

    <!-- Image d'accueil -->
    <div>
        <div
                class="h-screen bg-header bg-center bg-cover text-white flex items-center">
            {# <img class="img-fluid" src="{{asset('media/facile.jpg')}}"> #}
            <div data-aos="zoom-in">
                <a href="{{ path("app_post_card_index") }}">
                    <h1 class="text-center text-4xl no-underline hover:underline">The world in a postcard</h1>
                </a>
                {# la blabla que je voulais dire sur l'image d'acueil avec un bouton vers CATEGORY #}
                <p class="lead text-light my-4 text-center ">Explore a world of captivating beauty through our unique
                    postcards. Express your emotions with elegance and share your most memorable moments in an authentic
                    way. Welcome to our postcard website, where each image tells a story .</p>
            </div>
        </div>
    </div>

    <!--essaie de carte postale-->

    <div class="row g-0 mx-5 shadow bg-secondary rounded">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img data-aos="fade-down" src="{{ asset('media/images.jpg') }}" class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">Columns with stretched link</h5>
            <p>Another instance of placeholder content for this other custom component. It is intended to mimic what
                some real-world content would look like, and we're using it here to give the component a bit of body and
                size.</p>
            <a href="#" class="stretched-link">Go somewhere</a>
        </div>
    </div>

    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/docs/images/blog/image-4.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </div>
    </a>
    <!-- carte postale présentation-->
    <!-- première carte roser-->
    <div class="row">
        <div class="col-md-6 ">
            <div class="mx-3 my-3 row rounded shadow mb-5 bg-secondary rounded h-md-250 ">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">WDFBXDGNB XFGNFG</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link ">Continue reading</a>
                </div>
            </div>
        </div>
        <!--première carte bleu-->
        <div class="col-md-6 mt-5 ">
            <div class="mx-3 my-5 row rounded shadow mb-5 bg-success text-light rounded h-md-250">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">DFBDDGHDRHGFDGH</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link text-secondary">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                </div>
            </div>
        </div>
    </body>
    </div>
    <!-- deuxième carte roser-->
    <div class="row mb-2">
        <div class="col-md-6 mb-5">
            <div class="mx-3 my-3 row rounded shadow mb-5 bg-secondary rounded h-md-250 ">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">WDFBXDGNB XFGNFG</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
            </div>
        </div>
        <!--deuxième carte bleu-->
        <div class="col-md-6 mt-5">
            <div class="mx-3 mt-5 row rounded shadow mb-5 bg-success text-light rounded h-md-250">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">DFBDDGHDRHGFDGH</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#" class="stretched-link text-secondary">Continue reading</a>
                </div>
            </div>
        </div>
    </div></div>
    {# essaie de présentation de carte postale #}


    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark ">
        <img src="{{ asset('media/facile.jpg') }}" width="100%">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new
                readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0">
                <a href="#" class="text-white font-weight-bold">Continue reading...</a>
            </p>
        </div>
    </div>
    <!--le restant-->

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-4 mb-4 font-italic border-bottom">
                    From the Firehose
                </h3>

                <div class="blog-post">
                    <h2 class="blog-post-title">Sample blog post</h2>
                    <p class="blog-post-meta">January 1, 2014 by
                        <a href="#">Mark</a>
                    </p>

                    <p>This blog post shows a few different types of content that’s supported and Bootstrap.</p>
                    <hr>
                    <p>Yeah, she dances to her own beat. Oh, no. You could've been the greatest.'Cause, baby,
                        <a href="#">you're a firework</a>. Maybe a reason why all the doors are closed. Open up your
                        heart and just let it begin. So très chic, yeah, she's a classic.</p>
                    <blockquote>
                        <p>Bikinis, zucchinis, Martinis, no weenies. I know there will be sacrifice but that's the
                            price.
                            <strong>This is how we do it</strong>. I'm not sticking around to watch you go
                            down.</p>
                    </blockquote>
                    <p>Trying to connect the dots, don't know what to tell my boss.
                        <em>pink flamingos</em>
                        in the pool.
                    </p>
                    <h2>Heading</h2>
                    <p>Suiting up for my crowning battle. If you only knew what the future holds. Bring the beat back.
                        Peach-pink lips, yeah, everybody stares.</p>
                    <h3>Sub-heading</h3>
                    <p>You give a hundred reasons why, and you say you're really gonna try.</p>
                    <pre><code>example code block</code></pre>
                    <p>Before you met me I was alright but things were kinda heavy. You just gotta ignite the light and
                        let it shine.</p>
                    <h3>Sub-heading</h3>
                    <p>You got the finest architecture..</p>
                    <ul>
                        <li>Got a motel and built a fort out of sheets.</li>
                    </ul>
                    <p>Takes you miles high, so high, 'cause she’s got that one international smile.</p>
                    <ol>
                        <li>Scared to rock the boat and make a mess.</li>
                    </ol>
                </div>
                <!-- /.blog-post -->

                <div class="blog-post">
                    <h2 class="blog-post-title">Another blog post</h2>
                    <p class="blog-post-meta">December 23, 2013 by
                        <a href="#">Jacob</a>
                    </p>

                    <p>I am ready for the road less traveled. Already
                        <a href="#">brushing off the dust</a>. Yeah, you're lucky if you're on her plane.</p>
                    <blockquote>
                        <p>Growing fast into a
                            <strong>bolt of lightning</strong>. Be careful Try not to lead her on</p>
                    </blockquote>
                </div>
                <!-- /.blog-post -->

                <div class="blog-post">
                    <h2 class="blog-post-title">New feature</h2>

                    <p>From Tokyo to Mexico, to Rio. Yeah, you take me to utopia. I'm walking on air</p>
                    <ul>
                        <li>I hope you got a healthy appetite.</li>
                    </ul>
                    <p>Don't need apologies. Boy, you're an alien your touch so foreign, it's
                        <em>supernatural</em>, extraterrestrial.</p>
                </div>
                <!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled">Newer</a>
                </nav>

            </div>
            <!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">About</h4>
                    <p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me
                        stop by? Heavy is the head that
                        <em>wears the crown</em>. Yes, we make angels cry, raining down on earth from up above.</p>
                </div>

                <div class="p-4">
                    <h4 class="font-italic">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li>
                            <a href="#">March 2014</a>
                        </li>
                        <li>
                            <a href="#">February 2014</a>
                        </li>
                        <li>
                            <a href="#">January 2014</a>
                        </li>
                        <li>
                            <a href="#">December 2013</a>
                        </li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="font-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">GitHub</a>
                        </li>
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                    </ol>
                </div>
            </aside>
            <!-- /.blog-sidebar -->

        </div>
        <!-- /.row --></main><!-- /.container -->
    <footer class="blog-footer">
        <p>Blog template built for
            <a href="https://getbootstrap.com/">Bootstrap</a>
            by
            <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p></footer></body>{% endblock %}
