{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<body>
<!-- Image d'accueil -->
    <div class="" id="animation">
      <img src={{asset('media/facile.jpg')}} class="img-responsive center-block" alt="Responsive image" style="width:100%;">   
    </div>
    <div class="py-5 text-center mt-5">
        <h2 class="text-danger">The world in a postcard</h2>
        <p class="lead">Explore a world of captivating beauty through our unique postcards. Express your emotions with elegance and share your most memorable moments in an authentic way. Welcome to our postcard website, where each image tells a story.</p>
        <img src={{asset('media/images.jpg')}} width = "25%" >
    </div>
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
        <img src={{asset('media/images.jpg')}} class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        </div>
    </div>
    </div>
</body>
{% endblock %}
