{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="py-5 text-center mt-5 text-decoration-underline">Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-outline-success" href="{{ path('app_category_index') }}" role="button">back to list</a>
    
{% endblock %}
