{% extends 'base.html.twig' %}

{% block title %}New PostCard{% endblock %}

{% block body %}
    <h1 class="py-5 text-center mt-5 text-decoration-underline">Create new PostCar</h1>

    {{ include('post_card/_form.html.twig') }}

    {# <a href="{{ path('app_post_card_index') }}">back to list</a> #}
    <a class="btn btn-outline-success" href="{{ path('app_post_card_index') }}" role="button">back to list</a>
{% endblock %}
